.Item {
  background-color: white;
  border: 2px solid dashed;
  border-radius: 2em;
  text-align: center;
  width: 30%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 3px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px black;
}

.id {
  font-size: 15px;
  display: none;
}

.titulo {
  font-size: 24px;
  margin-top: 2px;
  text-decoration: underline;
  font-family: "PT Sans Narrow", sans-serif;
}

.imagenes {
  border: 1px solid white;
  width: 75%;
  height: 50%;
}

.precio {
  font-size: 20px;
  display: none;
}

.descripcion {
  font-size: 15px;
  font-family: "PT Sans Narrow", sans-serif;
}

.boton-detalle {
  background-color: rgb(187, 241, 241);
  font-family: "PT Sans Narrow", sans-serif;
  border: 2px solid black;
  border-radius: 0.5em;
  font-size: 20px;
}

a {
  text-decoration: unset;
  color: black;
}

.boton-detalle:hover {
  background-color: rgb(173, 221, 221);
  box-shadow: 0px 0px 10px black;
  transition: 0.2s ease;
}

@media screen and (max-width: 900px) {
  .Item {
    width: 60%;
  }
}
