.NavBar {
  width: 100%;
  height: 20vh;
  border-bottom: 3px solid #3abfbc;
  display: flex;
  justify-content: space-between;
}

.imagen {
  height: 20vh;
  width: 20%;
  border-bottom: 3px solid #3abfbc;
}

.imagen img {
  height: 100%;
}

.Nav {
  width: 60%;
  padding-right: 15px;
}

.Nav ul {
  list-style-type: none;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav li {
  float: right;
  font-size: 40px;
  cursor: pointer;
}

.item-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f2c2c;
  text-shadow: 0 0 4px grey;
  flex-basis: 25%;
}

.item-nav span {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.item-carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3abfbc;
  text-shadow: 0 0 4px grey;
  flex-basis: 25%;
}
