.ItemList {
  border: 2px solid black;
  border-radius: 2em;
  height: auto;
  padding: 20px;
  width: 60%;
  display: flex;
  background-color: rgb(155, 162, 160);
  margin-right: auto;
  margin-left: auto;
  margin-top: 35px;
  margin-bottom: 30px;
  text-align: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .ItemList {
    width: 78%;
  }

  }
